$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

// Table of Contents
// Variable Settings
//
// a. Base
// b. Global
// c. Typography
// d. Media Query Ranges
// 01. Header
// 02. Branding
// 03. Login
// 04. Footer

// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

$base-font-size: 16px;
$base-line-height: 1.4;

// b. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

$primary-color: #1d7dc1; //blue
$secondary-color: #5ea845; //green
$accent-color: #ff8400; //orange
$neutral-color: #cccccc; //gray
$header-color: #666; //dark grey

$white: #FFF;
$black: #000;

$body-background: #ffffff;
$body-font-color: #222222;
$body-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-weight: normal;

// c. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$header-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 22px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$paragraph-size: 14px;


/*
$h1-aside-font-size: 2.125rem;
$h2-aside-font-size: 1.6875rem;
$h3-aside-font-size: 1.375rem;
$h4-aside-font-size: 1.125rem;
$h5-aside-font-size: 1.125rem;
$h6-aside-font-size: 1rem;
*/

// d. Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

$width-small: "screen and (max-width: 640px)";
$width-medium: "screen and (max-width: 1024px)";
$width-large: "screen and (max-width: 1230px)";


body {
	background-color: #f3f3f4;
}

.top-navigation .wrapper.wrapper-content {
	padding: 36px 0 56px;
}

.navbar {
	background-color: $white;
	border: 0;
	border-radius: 0;
	color: $header-color;
}

.questionsHolder{
	background-image: url('../images/background.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;

	.logo {
		text-align: center;
		font-size: 32px;

		h1 {
			margin-top: 15px;
			margin-bottom: 5px;
		}
	}

	.mainPageRow {
		background-color: white;
		padding: 15px;
		font-size: 16px;
		color: $header-color;
		border-left: 10px solid $secondary-color;
		border-radius: 5px;
		margin-top: 20px;
	}

	.explanationHolder {
		font-size: 24px;
		border-left: 10px solid $primary-color;
	}

	.interestSelectionHolder {
		list-style-type: none;

		li:focus {
			outline: 0;
		}

		.interestSelection {
			background-color: $white;
			display: inline-block;
			border-left: 5px solid $secondary-color;
			border-right: 1px solid $secondary-color;
			border-top: 1px solid $secondary-color;
			border-bottom: 1px solid $secondary-color;
			border-radius: 3px;
			padding: 10px;
			margin: 0 10px 10px 0;
			text-decoration: none;
			user-select: none;
		}

		.active{
			background-color: $primary-color;
			color: white;
			border-left: 5px solid $secondary-color;
			border-right: 1px solid $primary-color;
			border-top: 1px solid $primary-color;
			border-bottom: 1px solid $primary-color;
		}
	}

	.buttonHolder {
		margin: 25px 0;

		.recommendationButton, .recommendationButton:hover, .recommendationButton:focus {
			background-color: $primary-color;
			font-size: 18px;
			color: $white;
			padding: 15px;
		}
	}
}