/*
$h1-aside-font-size: 2.125rem;
$h2-aside-font-size: 1.6875rem;
$h3-aside-font-size: 1.375rem;
$h4-aside-font-size: 1.125rem;
$h5-aside-font-size: 1.125rem;
$h6-aside-font-size: 1rem;
*/
body {
  background-color: #f3f3f4; }

.top-navigation .wrapper.wrapper-content {
  padding: 36px 0 56px; }

.navbar {
  background-color: #FFF;
  border: 0;
  border-radius: 0;
  color: #666; }

.questionsHolder {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; }
  .questionsHolder .logo {
    text-align: center; }
  .questionsHolder .mainPageRow {
    background-color: white;
    padding: 15px;
    font-size: 16px;
    color: #666;
    border-left: 10px solid #5ea845;
    border-radius: 5px;
    margin-top: 25px; }
  .questionsHolder .explanationHolder {
    font-size: 24px;
    border-left: 10px solid #1d7dc1; }
  .questionsHolder .buttonHolder {
    margin: 25px 0; }
    .questionsHolder .buttonHolder .recommendationButton, .questionsHolder .buttonHolder .recommendationButton:hover, .questionsHolder .buttonHolder .recommendationButton:focus {
      background-color: #1d7dc1;
      font-size: 18px;
      color: #FFF;
      padding: 15px; }

.ibox {
  margin-bottom: 15px; }

#navbar {
  background-color: #333333;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); }

.white-bg .navbar-static-top {
  background-color: #333333;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2); }

.site-logo {
  padding: 12px 30px; }

.ibox-content .form-horizontal .form-group {
  margin: 0;
  padding: 0; }

.ibox-content .form-horizontal .form-group select {
  margin: 0;
  /*padding: 8px 12px;*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /*overflow: auto;*/
  /*height: auto;*/
  display: inline-block;
  font-size: 14px; }

.ibox-content .form-horizontal .form-group select option {
  line-height: 1.2;
  font-size: 14px; }

.ibox-content .form-horizontal .form-group .col-sm-10 {
  padding: 0; }

.ibox-content {
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }

.question-section .ibox .ibox-content {
  border-left: 10px solid #cfcfcf !important;
  overflow: auto;
  display: inline-block;
  width: 100%; }
  .question-section .ibox .ibox-content h3 {
    font-size: 16px;
    line-height: 1.4; }
  .question-section .ibox .ibox-content .question-number p {
    font-size: 12px;
    margin: 0; }
  .question-section .ibox .ibox-content .question-number .active-question {
    background-color: #1d7dc1;
    color: #fff;
    display: inline-block;
    width: 20px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }

.opportunities {
  padding: 25px;
  min-height: 400px; }
  .opportunities img {
    margin-top: 10px; }
  .opportunities .m-xs {
    margin-bottom: 10px; }
  .opportunities h3 {
    margin: 12px 0 0;
    font-weight: normal; }
  .opportunities h4 {
    margin-bottom: 0;
    font-weight: normal; }
  .opportunities .opportunities-content {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    padding-top: 30px; }

.pie-chart-opps .ibox-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top: 10px solid #5ea845;
  min-height: 400px; }
.pie-chart-opps .pie-chart-title {
  display: inline-block;
  width: 100%;
  float: left;
  margin-bottom: 15px; }
.pie-chart-opps .row {
  margin: 0; }
.pie-chart-opps .col-lg-6 {
  padding: 0; }

.opps-radar .ibox-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top: 10px solid #5ea845; }
.opps-radar h3 {
  /*margin: 10px 0 10px;*/ }

.ibox .ibox-content.active-ibox {
  border-left: 10px solid #1d7dc1 !important; }

.navbar-toggle {
  background-color: #1d7dc1; }

.form-control:focus, .single-line:focus {
  border-color: #1d7dc1 !important; }

.lazur-bg {
  background-color: #1d7dc1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#pieLegend ul {
  margin: 0;
  padding: 12px 0 0;
  display: inline-block;
  width: 100%; }
#pieLegend span {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important; }

.pie-legend ul {
  margin: 0;
  padding: 0 0 0 15px;
  display: inline-block;
  width: 100%;
  float: left; }
  .pie-legend ul li {
    margin: 0;
    display: inline-block;
    font-size: 10px;
    line-height: 12px;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 6px 8px 6px 0; }
    .pie-legend ul li span.pie-graph-bull {
      display: inline-block;
      width: 12px;
      height: 12px;
      line-height: 1;
      display: inline-block;
      -webkit-border-radius: 50% !important;
      -moz-border-radius: 50% !important;
      border-radius: 50% !important;
      background-color: #1d7dc1;
      content: "";
      vertical-align: middle;
      margin-right: 6px;
      float: left; }
    .pie-legend ul li span {
      display: inline-block;
      float: right; }

.radar-legend #radarLegend {
  margin-top: -100px;
  padding: 0 25px; }
.radar-legend ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  float: left; }
  .radar-legend ul li {
    display: inline-block;
    width: 100%;
    float: left;
    padding: 6px 0 6px;
    line-height: 14px; }
    .radar-legend ul li span {
      display: inline-block !important;
      float: left; }
    .radar-legend ul li .radar-dataset-bullet {
      display: inline-block;
      width: 14px;
      height: 14px;
      display: inline-block;
      -webkit-border-radius: 2px !important;
      -moz-border-radius: 2px !important;
      border-radius: 2px !important;
      background-color: #1d7dc1;
      content: "";
      vertical-align: middle;
      margin-right: 6px;
      float: left; }

.radar-graph-wrapper canvas {
  top: -60px; }

.radar-content-block {
  padding: 10px 30px 0; }
  .radar-content-block .dataset-block {
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    overflow: auto; }
    .radar-content-block .dataset-block h3 {
      font-size: 14px; }
  .radar-content-block ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    float: left; }
    .radar-content-block ul li {
      margin: 0;
      padding: 0;
      display: inline-block;
      font-size: 12px;
      line-height: 20px;
      border-bottom: 1px solid #eee;
      width: 100%;
      padding: 6px 8px; }
      .radar-content-block ul li h3 {
        font-size: 18px;
        color: #666; }
      .radar-content-block ul li .radar-bullet {
        display: inline-block;
        width: 14px;
        height: 14px;
        display: inline-block;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
        background-color: #1d7dc1;
        content: "";
        vertical-align: middle;
        margin-right: 6px; }
      .radar-content-block ul li span {
        display: inline-block;
        float: right;
        background-color: #1d7dc1;
        color: #fff;
        -webkit-border-radius: 2px !important;
        -moz-border-radius: 2px !important;
        border-radius: 2px !important;
        padding: 4px 4px;
        line-height: 12px;
        font-size: 12px; }

.opps-radar .col-md-6 {
  padding: 0 15px; }

.pie-chart-opps .ibox-content .col-md-12 {
  padding-left: 0; }

.opp-page-title-wrapper {
  margin: 0 0 6px; }
  .opp-page-title-wrapper .opp-page-title {
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    display: inline-block;
    width: 100%; }
    .opp-page-title-wrapper .opp-page-title h1 {
      font-size: 24px;
      color: #666666;
      display: inline-block;
      float: left;
      margin: 0; }
    .opp-page-title-wrapper .opp-page-title ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      float: right; }
      .opp-page-title-wrapper .opp-page-title ul li {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0 3px; }
    .opp-page-title-wrapper .opp-page-title .btn {
      display: inline-block;
      background-color: #1d7dc1;
      color: #fff;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 600; }
      .opp-page-title-wrapper .opp-page-title .btn:hover {
        background-color: #5ea845; }
      .opp-page-title-wrapper .opp-page-title .btn.light-blue {
        background-color: #4ea6e4; }
        .opp-page-title-wrapper .opp-page-title .btn.light-blue:hover {
          background-color: #1d7dc1; }

.opp-page-item-block {
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 0 0 15px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1); }
  .opp-page-item-block .row .col-md-6 {
    padding: 0; }
  .opp-page-item-block.blue {
    border-left: 10px solid #1d7dc1; }
  .opp-page-item-block.orange {
    border-left: 10px solid #ff8400; }
  .opp-page-item-block h4 {
    display: inline-block;
    width: 100%;
    clear: both;
    color: #1d7dc1;
    font-weight: bold;
    margin: 12px 0 8px;
    font-size: 14px;
    line-height: 1.4; }
  .opp-page-item-block p {
    color: #999;
    font-size: 12px;
    line-height: 1.4; }
  .opp-page-item-block ul {
    margin: 0;
    padding: 0 20px 0 0;
    list-style: none;
    width: 100%; }
    .opp-page-item-block ul li {
      display: inline-block;
      width: 100%;
      padding: 8px 0;
      margin: 0;
      border-bottom: 1px solid #eee; }
      .opp-page-item-block ul li:last-child {
        border-bottom: none; }
    .opp-page-item-block ul p {
      margin: 0; }
      .opp-page-item-block ul p strong {
        font-weight: 600; }
  .opp-page-item-block .row {
    margin: 0; }
  .opp-page-item-block .opp-page-item-content .col-md-6 {
    padding: 0; }
  .opp-page-item-block .opp-page-item-checkbox {
    display: inline-block;
    width: 100%;
    padding: 20px 0 0; }
  .opp-page-item-block .btn {
    background-color: #1d7dc1;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    margin: 20px 0 0;
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }
    .opp-page-item-block .btn:hover {
      background-color: #5ea845; }
    .opp-page-item-block .btn .fa {
      margin-left: 3px; }

.opp-page-define {
  font-size: 12px;
  color: #666;
  margin: 6px 0 12px; }
  .opp-page-define .highlight {
    color: #1d7dc1; }

.opp-page-aside {
  padding-top: 25px; }
  .opp-page-aside h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px; }
  .opp-page-aside .checkbox {
    margin: 4px 0; }
    .opp-page-aside .checkbox label {
      font-size: 12px;
      color: #919191; }

#BusStatus,
#Department,
#Capability {
  margin-bottom: 30px; }

.solicitation-status .btn-group {
  display: inline-block;
  width: 100%; }
  .solicitation-status .btn-group .btn {
    width: 33.3333%;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1.2;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #1d7dc1; }
  .solicitation-status .btn-group .active {
    background-color: #ff8400; }

.question-aside {
  padding: 0; }
  .question-aside h3 {
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 8px;
    font-weight: 500; }
  .question-aside .form-group .col-sm-12 {
    padding: 0; }
  .question-aside .question-number {
    display: inline-block;
    width: 100%;
    margin-bottom: 4px; }
    .question-aside .question-number p {
      margin: 0;
      font-size: 12px;
      line-height: 1.2;
      color: #aaa; }
  .question-aside .ibox-content {
    padding: 15px 15px 20px; }
  .question-aside .question-answer {
    width: 100%;
    color: #1d7dc1;
    font-weight: 700;
    margin: 4px 0 0; }

.navigation-bar {
  padding-bottom: 25px; }

.jobs-content {
  padding-top: 25px; }
  .jobs-content .pagination {
    float: right; }

.num-opps-block h1 {
  font-weight: 600; }
.num-opps-block h3 {
  font-weight: 400;
  line-height: 1.2; }

.doughnut-chart-button {
  background-color: #1d7dc1;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px; }

.success {
  background-color: #1d7dc1;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase; }
  .success:hover {
    background-color: #5ea845; }

.pie-chart-opps h3 {
  font-size: 14px; }

.pie-chart-opps .ibox-content,
.num-opps-block {
  min-height: 300px;
  height: inherit !important; }

.pie-chart-opps h3 {
  display: inline-block;
  width: 100%;
  padding: 0 0 20px; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  padding: 0; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }

/*# sourceMappingURL=main.css.map */
