$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

// Table of Contents
// Variable Settings
//
// a. Base
// b. Global
// c. Typography
// d. Media Query Ranges
// 01. Header
// 02. Branding
// 03. Login
// 04. Footer

// a. Base
// - - - - - - - - - - - - - - - - - - - - - - - - -

$base-font-size: 16px;
$base-line-height: 1.4;

// b. Global
// - - - - - - - - - - - - - - - - - - - - - - - - -

$primary-color: #1d7dc1; //blue
$secondary-color: #5ea845; //green
$accent-color: #ff8400; //orange
$neutral-color: #cccccc; //gray
$header-color: #666; //dark grey

$white: #FFF;
$black: #000;

$body-background: #ffffff;
$body-font-color: #222222;
$body-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-weight: normal;

// c. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$header-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$h1-font-size: 32px;
$h2-font-size: 28px;
$h3-font-size: 22px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$paragraph-size: 14px;


/*
$h1-aside-font-size: 2.125rem;
$h2-aside-font-size: 1.6875rem;
$h3-aside-font-size: 1.375rem;
$h4-aside-font-size: 1.125rem;
$h5-aside-font-size: 1.125rem;
$h6-aside-font-size: 1rem;
*/

// d. Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

$width-small: "screen and (max-width: 640px)";
$width-medium: "screen and (max-width: 1024px)";
$width-large: "screen and (max-width: 1230px)";


body {
	background-color: #f3f3f4;
}

.top-navigation .wrapper.wrapper-content {
	padding: 36px 0 56px;
}

.navbar {
	background-color: $white;
	border: 0;
	border-radius: 0;
	color: $header-color;
}

.questionsHolder{
	background-image: url('../images/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;

	.logo {
		text-align: center;

	}

	.mainPageRow {
		background-color: white;
		padding: 15px;
		font-size: 16px;
		color: $header-color;
		border-left: 10px solid $secondary-color;
		border-radius: 5px;
		margin-top: 25px;
	}

	.explanationHolder {
		font-size: 24px;
		border-left: 10px solid $primary-color;
	}

	.buttonHolder {
		margin: 25px 0;

		.recommendationButton, .recommendationButton:hover, .recommendationButton:focus {
			background-color: $primary-color;
			font-size: 18px;
			color: $white;
			padding: 15px;
		}
	}
}











.ibox {
	margin-bottom: 15px;
}

#navbar {
	background-color: #333333;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.white-bg .navbar-static-top {
	background-color: #333333;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

.site-logo {
	padding: 12px 30px;
}

.ibox-content .form-horizontal .form-group {
	margin: 0;
	padding: 0;
}

.ibox-content .form-horizontal .form-group select {
	margin: 0;
	/*padding: 8px 12px;*/
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	/*overflow: auto;*/
	/*height: auto;*/
	display: inline-block;
	font-size: 14px;
}

.ibox-content .form-horizontal .form-group select option {
	line-height: 1.2;
	font-size: 14px;
}

.ibox-content .form-horizontal .form-group .col-sm-10 {
	padding: 0;
}

.ibox-content {
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}


.question-section .ibox .ibox-content {
	border-left: 10px solid #cfcfcf !important;
	overflow: auto;
	display: inline-block;
	width: 100%;

	h3 {
		font-size: 16px;
		line-height: 1.4;
	}

	.question-number {


		p {
			font-size: 12px;
			margin: 0;
		}

		.active-question {
			background-color: $primary-color;
			color: #fff;
			display: inline-block;
			width: 20px;
			text-align: center;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;

		}
	}
}

.opportunities {
	padding: 25px;
	min-height: 400px;

	img {
		margin-top: 10px;
	}

	.m-xs {
		margin-bottom: 10px;
	}

	h3 {
		margin: 12px 0 0;
		font-weight: normal;
	}

	.answer-1 {

	}

	h4 {
		margin-bottom: 0;
		font-weight: normal;
	}

	.opportunities-content {
		display: inline-block;
		margin: 0 auto;
		vertical-align: middle;
		padding-top: 30px;
	}
}

.pie-chart-opps {

	.ibox-content {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border-top: 10px solid $secondary-color;
		min-height: 400px;
	}

	.pie-chart-title {
		display: inline-block;
		width: 100%;
		float: left;
		margin-bottom: 15px;
	}

	.row {
		margin: 0;
	}

	.col-lg-6 {
		padding: 0;
	}

}

.opps-radar {

	.ibox-content {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border-top: 10px solid $secondary-color;
	}

	h3 {
		/*margin: 10px 0 10px;*/
	}
}

.ibox .ibox-content.active-ibox {
	border-left: 10px solid #1d7dc1 !important;
}

.navbar-toggle {
	background-color: #1d7dc1;
}


.form-control:focus, .single-line:focus {
	border-color: #1d7dc1 !important;
}

@media screen and (max-width:991px) {

}


.lazur-bg {
	background-color: $primary-color;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#pieLegend {

	ul {
		margin: 0;
		padding: 12px 0 0;
		display: inline-block;
		width: 100%;
	}

	span {
		width: 10px;
		height: 10px;
		-webkit-border-radius: 2px !important;
		-moz-border-radius: 2px !important;
		border-radius: 2px !important;
	}
}

.pie-legend {

	ul {
		margin: 0;
		padding: 0 0 0 15px;
		display: inline-block;
		width: 100%;
		float: left;

		li {
			margin: 0;
			display: inline-block;
			font-size: 10px;
			line-height: 12px;
			border-bottom: 1px solid #eee;
			width: 100%;
			padding: 6px 8px 6px 0;

			span.pie-graph-bull {
				display: inline-block;
				width: 12px;
				height: 12px;
				line-height: 1;
				display: inline-block;
				-webkit-border-radius: 50% !important;
				-moz-border-radius: 50% !important;
				border-radius: 50% !important;
				background-color: $primary-color;
				content: "";
				vertical-align: middle;
				margin-right: 6px;
				float: left;
			}

			span {
				display: inline-block;
				float: right;
			}
		}
	}
}


.radar-legend {


	#radarLegend {
		margin-top: -100px;
		padding: 0 25px;
	}

	ul {
		margin: 0;
		padding: 0;
		display: inline-block;
		width: 100%;
		float: left;

		li {
			display: inline-block;
			width: 100%;
			float: left;
			padding: 6px 0 6px;
			line-height: 14px;


			span {
				display: inline-block !important;
				float: left;
			}


			.radar-dataset-bullet {
				display: inline-block;
				width: 14px;
				height: 14px;
				display: inline-block;
				-webkit-border-radius: 2px !important;
				-moz-border-radius: 2px !important;
				border-radius: 2px !important;
				background-color: $primary-color;
				content: "";
				vertical-align: middle;
				margin-right: 6px;
				float: left;
			}



		}
	}
}


.radar-graph-wrapper {

	canvas {
		top: -60px;
	}
}

.radar-content-block {
	padding: 10px 30px 0;



	.dataset-block {
		margin-bottom: 15px;
		display: inline-block;
		width: 100%;
		overflow: auto;

		h3 {
			font-size: 14px;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		display: inline-block;
		width: 100%;
		float: left;

		li {
			margin: 0;
			padding: 0;
			display: inline-block;
			font-size: 12px;
			line-height: 20px;
			border-bottom: 1px solid #eee;
			width: 100%;
			padding: 6px 8px;

			h3 {
				font-size: 18px;
				color: #666;
			}


			.radar-bullet {
				display: inline-block;
				width: 14px;
				height: 14px;
				display: inline-block;
				-webkit-border-radius: 2px !important;
				-moz-border-radius: 2px !important;
				border-radius: 2px !important;
				background-color: $primary-color;
				content: "";
				vertical-align: middle;
				margin-right: 6px;
			}

			span {
				display: inline-block;
				float: right;
				background-color: $primary-color;
				color: #fff;
				-webkit-border-radius: 2px !important;
				-moz-border-radius: 2px !important;
				border-radius: 2px !important;
				padding: 4px 4px;
				line-height: 12px;
				font-size: 12px;

			}
		}
	}
}

.opps-radar .col-md-6 {

	padding: 0 15px;


}

.pie-chart-opps .ibox-content .col-md-12 {
	padding-left: 0;
}

.opp-page-title-wrapper {
	margin: 0 0 6px;

	.opp-page-title {
		border-bottom: 1px solid #ccc;
		padding-bottom: 6px;
		display: inline-block;
		width: 100%;

		h1 {
			font-size: 24px;
			color: #666666;
			display: inline-block;
			float: left;
			margin: 0;
		}

		ul {
			margin: 0;
			padding: 0;
			display: inline-block;
			float: right;

			li {
				display: inline-block;
				float: left;
				margin: 0;
				padding: 0 3px;
			}
		}

		.btn {
			display: inline-block;
			background-color: $primary-color;
			color: #fff;
			text-transform: uppercase;
			font-size: 12px;
			line-height: 1.2;
			font-weight: 600;

			&:hover {
				background-color: $secondary-color;
			}

			&.light-blue {
				background-color: #4ea6e4;

				&:hover {
					background-color: $primary-color;
				}
			}
		}

	}

}

.opp-page-item-block {
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	margin: 0 0 15px;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);

	.row {

		.col-md-6 {
			padding: 0;
		}
	}

	&.blue {
		border-left: 10px solid $primary-color;
	}

	&.orange {
		border-left: 10px solid $accent-color;
	}

	h4 {
		display: inline-block;
		width: 100%;
		clear: both;
		color: $primary-color;
		font-weight: bold;
		margin: 12px 0 8px;
		font-size: 14px;
		line-height: 1.4;
	}

	p {
		color: #999;
		font-size: 12px;
		line-height: 1.4;
	}

	ul {
		margin: 0;
		padding: 0 20px 0 0;
		list-style: none;
		width: 100%;


		li {
			display: inline-block;
			width: 100%;
			padding: 8px 0;
			margin: 0;
			border-bottom: 1px solid #eee;

			&:last-child {
				border-bottom: none;
			}
		}

		p {
			margin: 0;

			strong {
				font-weight: 600;
			}
		}
	}

	.row {
		margin: 0;
	}

	.opp-page-item-content {


		.col-md-6 {
			padding: 0;
		}
	}

	.opp-page-item-checkbox {
		display: inline-block;
		width: 100%;
		padding: 20px 0 0;
	}

	.btn {
		background-color: $primary-color;
		width: 100%;
		color: #fff;
		text-transform: uppercase;
		padding: 8px 12px;
		font-size: 12px;
		line-height: 16px;
		font-weight: 600;
		margin: 20px 0 0 ;
		-moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
		-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
		box-shadow: 2px 2px 2px rgba(0,0,0,0.1);

		&:hover {
			background-color: $secondary-color;
		}

		.fa {
			margin-left: 3px;
		}

	}
}

.opp-page-define {
	font-size: 12px;
	color: #666;
	margin: 6px 0 12px;

	.highlight {
		color: $primary-color;
	}
}

.opp-page-aside {
	padding-top: 25px;

	h4 {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 12px;
	}

	.checkbox {
		margin: 4px 0;

		label {
			font-size: 12px;
			color: #919191;
		}
	}
}

#BusStatus,
#Department,
#Capability {
	margin-bottom: 30px;
}


.solicitation-status {

	.btn-group {
		display: inline-block;
		width: 100%;

		.btn {
			width: 33.3333%;
			color: #fff;
			text-transform: uppercase;
			font-size: 10px;
			line-height: 1.2;
			-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
			-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
			box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
			background-color: $primary-color;
		}


		.active {
			background-color: $accent-color;
		}
	}
}


.question-aside {
	padding: 0;

	h3 {
		font-size: 14px;
		line-height: 1.4;
		margin: 0 0 8px;
		font-weight: 500;
	}

	.form-group {

		.col-sm-12 {
			padding: 0;
		}
	}

	.question-number {
		display: inline-block;
		width: 100%;
		margin-bottom: 4px;

		p {
			margin: 0;
			font-size: 12px;
			line-height: 1.2;
			color: #aaa;
		}
	}

	.ibox-content {
		padding: 15px 15px 20px;
	}

	.question-answer {
		width: 100%;
		color: $primary-color;
		font-weight: 700;
		margin: 4px 0 0;
	}
}

.navigation-bar {
	padding-bottom: 25px;
}


.jobs-content {
	padding-top: 25px;

	.pagination {
		float: right;
	}
}

.num-opps-block {


	img {

	}

	h1 {
		font-weight: 600;
	}

	h3 {
		font-weight: 400;
		line-height: 1.2;
	}
}

.doughnut-chart-button {
	background-color: $primary-color;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}

.success {
	background-color: $primary-color;
	margin-bottom: 15px;
	color: #fff;
	text-transform: uppercase;

	&:hover {
		background-color: $secondary-color;
	}

}

.pie-chart-opps {



}

.pie-chart-opps {

	h3 {
		font-size: 14px;
	}
}

.pie-chart-opps .ibox-content,
.num-opps-block {
	min-height: 300px;
	height: inherit !important;
}

.pie-chart-opps {


	h3 {
		display: inline-block;
		width: 100%;
		padding: 0 0 20px;
	}
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
