<div class="container-fluid questionsHolder">

	<div class="container">
		<div class="col-sm-12 logo">
			<h1>WanderList: Find Your National Park Adventure</h1>
		</div>
		<div class="col-sm-12 col-lg-3">
			<div class="row mainPageRow explanationHolder">
				<p><strong>WanderList</strong> is a easy way to create lists of your outdoor adventures.<br /><br /> It allows you to search,
					create, share your own curated lists that highlight your favorite parks into <strong>WanderLists</strong>.</p>
			</div>
		</div>
		<div class="col-sm-12 col-lg-offset-1 col-lg-8">
			<form>
				<div class="row mainPageRow">
					<div class="col-sm-3">
						<p>What are your interests?</p>
					</div>
					<div class="col-sm-9">
						<ul class="interestSelectionHolder">
							<li ng-repeat="(interest, selected) in interests" class="interestSelection" ng-class="{'active':toggle}" ng-click="toggle = !toggle; checkChange(!selected, interest)" ng-model="activities.interest">{{interest}}</li>
						</ul>
					</div>
				</div>

				<div class="row mainPageRow">
					<div class="col-sm-5">
						<p>How far are you willing to travel?</p>
					</div>
					<div class="col-sm-7">
						<select ng-change="secondAnswered(secondAnswer)" ng-options="item for item in secondOptions" ng-model="secondAnswer" class="form-control m-b" name="account"></select>
					</div>
				</div>

                <div class="row buttonHolder" align="center">
                    <button ng-click="goToResults()" class="btn recommendationButton">See Recommendations</button>
                </div>
            </form>
        </div>
    </div>
</div>